.sidebar {
  width: 30%;
  margin: 10px;
  border: 2px solid red;
  padding: 5px;
  padding-left: 15px;
  background-color: pink;
  float: right;
}
img.main {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 786px) and (min-width: 300px) {
  body {
    background-color: black;
    color: white;
  }
}
